<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <base href="$base">
        <title>$title</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header">
            <div class="header__left">
                <a class="logo" href="index.html">[logo]</a> | CMS Docs
            </div>
            <div class="header__center">
                <div class="searchbox">[search box]</div>
            </div>
            <div class="header__right">
                <div class="version-selector">v4</div>
                <div class="github-icon">[gh]</div>
            </div>
        </div>
        <div class="container">
            <div class="sidenav">
                $sideNavHtml
            </div>
            <div class="content">
                $contentHtml
            </div>
        </div>
    </body>
</html>
